<%- include('../../partials/headers'); -%>

<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the side navigation */
        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
        }


        /* Side navigation links */
        .sidenav a {
            color: white;
            padding: 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color on hover */
        .sidenav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Style the content */
        .content {
            margin-left: 200px;
            padding-left: 20px;
        }
    </style>
</head>

<div class="sidenav" style='margin-top: 70px;'>
    <a class="nav-link" href="#">Overview</a>
    <a class="nav-link" href="#">Activity</a>
    <a class="nav-link" href="/projects/members/<%= projectid%>">Members</a>
    <a class="nav-link" href="/projects/issues/<%= projectid%>">Issues</a>
</div>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Issues</title>
<!-- <link rel="stylesheet" href=""> -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>-PMS</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!DOCTYPE html>
            <html>

            <head>

                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" type="text/css" href="../../stylesheets/sidebar.css">

            </head>



            </html>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="container">

                    <div class="container" style="margin-top: 90px ">
                        <hr class="new4">
                        <div class="card bg-light mb-3"
                            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            <div class="card-header text-white bg-dark mb-3">

                                <h4
                                    style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                                    Add New Issue
                                </h4>
                            </div>
                            <div class="card-body">

                                <form method="POST" enctype="multipart/form-data">
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <legend class="col-form-label col-sm-2 pt-0">Tracker</legend>
                                            <div class="col-sm-10">

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tracker" id="bug"
                                                        value="Bug">
                                                    <label class="form-check-label" for="bug">
                                                        Bug
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tracker"
                                                        id="feature" value="Feature">
                                                    <label class="form-check-label" for="feature">
                                                        Feature
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tracker"
                                                        id="support" value="Support">
                                                    <label class="form-check-label" for="support">
                                                        Support
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="form-group row">
                                        <label for="subject" class="col-sm-2 col-form-label">Subject</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="idsubject" placeholder="Subject"
                                                name="subject">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="desc" class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="desc" name="description"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>

                                    <fieldset class="form-group">
                                        <div class="row">
                                            <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                                            <div class="col-sm-10">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="status" id="new"
                                                        value="new">
                                                    <label class="form-check-label" for="new">
                                                        New
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" disabled>
                                                    <label class="form-check-label">
                                                        In Progress
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" disabled>
                                                    <label class="form-check-label">
                                                        Resolved
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" disabled>
                                                    <label class="form-check-label">
                                                        Feedback
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" disabled>
                                                    <label class="form-check-label">
                                                        Closed
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" disabled>
                                                    <label class="form-check-label">
                                                        Rejected
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <div class="row">
                                            <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
                                            <div class="col-sm-10">

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="priority"
                                                        id="normal" value="normal">
                                                    <label class="form-check-label" for="normal">
                                                        Normal
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="priority"
                                                        id="high" value="high">
                                                    <label class="form-check-label" for="high">
                                                        High
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="priority"
                                                        id="urgent" value="urgent">
                                                    <label class="form-check-label" for="urgent">
                                                        Urgent
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="priority"
                                                        id="immediate" value="immediate">
                                                    <label class="form-check-label" for="immediate">
                                                        Immediate
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="form-group row">
                                        <label for="assignee" class="col-sm-2 col-form-label">
                                            Assignee</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select custom-select-lg mb-3" name="assignee"
                                                id="member">
                                                <option selected>Choose the Assignee</option>
                                                <% member.forEach((obj) => { %>
                                                <option value="<%= obj.userid %>"><%= obj.fullname %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="startDate" placeholder="Subject"
                                                name="startDate">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="dueDate" name="dueDate">
                                        </div>
                                    </div>

                                    <div class="form-group row ">
                                        <label for="estimatedTime" class="col-sm-2 col-form-label">Estimated Time
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" id="estimatedTime"
                                                name="estimatedTime" placeholder="Estimated Time">
                                            <small id="estimatedTime" class="form-text text-muted">
                                                Insert Estimated Time by Hours
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="done" class="col-sm-2 col-form-label">
                                            Done</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" name="done" required="">
                                                <option>Choose the Percentage ...</option>
                                                <option value="0">0%</option>
                                                <option value="10">10%</option>
                                                <option value="20">20%</option>
                                                <option value="30">30%</option>
                                                <option value="40">40%</option>
                                                <option value="50">50%</option>
                                                <option value="60">60%</option>
                                                <option value="70">70%</option>
                                                <option value="80">80%</option>
                                                <option value="90">90%</option>
                                                <option value="100">100%</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputFile" class="col-sm-2 col-form-label">File</label>
                                        <div class="col-sm-10">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputFile" name="file">
                                                <label class="custom-file-label" for="inputFile">Choose file</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-success">Add</button>
                                            <a class="btn btn-info" href="/projects/issues/<%= projectid%>"
                                                role="button">Back</a>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </main>

        </div>
    </div>
</body>

</html>