<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Project Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item  ">
                    <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="/users">Users</a>
                </li>
            </ul>
            <a href="/logout">
                <button class="btn btn-outline-success my-2 my-sm-0">Sign Out</button>
            </a>
        </div>
    </nav>

    <h1 style="margin-top: 20px;">Edit Users</h1>
    <hr>

    <form method="POST">

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">User ID</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="id" placeholder="User ID" name="id"
                    value="<%= value.userid%>" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"
                    value="<%= value.firstname%>" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
                    value="<%= value.lastname%>" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                    value="<%= value.email%>" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                    required>
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="position" id="manager" value="manager"
                            <%= value.position == 'manager' ? 'checked' : ''%>>
                        <label class="form-check-label" for="manager">
                            Manager
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="position" id="qa" value="Quality Assurance"
                            <%= value.position == 'Quality Assurance' ? 'checked' : ''%>>
                        <label class="form-check-label" for="qa">
                            Quality Assurance
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="position" id="dev" value="Software Developer"
                            <%= value.position == 'Software Developer' ? 'checked' : ''%>>
                        <label class="form-check-label" for="dev">
                            Software Developer
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Type Job</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="full" value="fulltime"
                            <%= value.type == 'fulltime' ? 'checked' : ''%>>
                        <label class="form-check-label" for="full">
                            Full Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="part" value="partTime"
                            <%= value.type == 'partTime' ? 'checked' : ''%>>
                        <label class="form-check-label" for="part">
                            Part Time
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="admin" value="admin"
                            <%= value.role == 'admin' ? 'checked' : ''%>>
                        <label class="form-check-label" for="admin">
                            Admin
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="user" value="user"
                            <%= value.role == 'user' ? 'checked' : ''%>>
                        <label class="form-check-label" for="user">
                            User
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</body>

</html>